<header>
  <div class="header-left">
    <img class="logo" src="images/logo.png">
    <a href="/" class="logo-text">Power Poshmark</a>
  </div>

  <div class="header-right">
    <a href="https://chrome.google.com/webstore/detail/power-poshmark/kfkllifhcgccemmpbnkdfpkcmkgoidml" target="_blank" class="header-link">Get Extension</a>
    <a href="/account" class="header-link">Account</a>
  </div>
</header>