<header>
  <div class="header-left">
    <img class="logo" src="images/logo.png">
    <a href="/" class="logo-text">Power Poshmark</a>
  </div>

  <div class="header-right">
    <a href="/account" class="header-link">Account</a>
  </div>
</header>