* { box-sizing: border-box; }
body {
  width: 400px;
  background-color: #fff;
  font-family: 'Heebo', sans-serif;
}
#top-bar {
  background: #f84e75;
  padding: 14px;
  text-align: center;
}

#top-bar-text {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #fff;
  font-size: 20px;
  display: inline-block;
} 
#logo img {
  width: 30px;
}
#wrapper {
  padding: 10px 20px;
}

hr {
  border-top: 2px dotted #f84e75;
  background-color: #fff;
  height: 1px;
}


section.function {
  margin-bottom: 10px;
}

.function-heading {
  margin-bottom: 16px;
  text-align: center;
  padding-top: 10px;
}

label {
  font-weight: bold;
  color: #605f67;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.label-img {
  width: 25px;
}

.function-groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center;
  align-items: center; */
}

.tool-tip-icon {
  background-image: url(./question.svg);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: solid 1px #a7a7a7;
  background-color: #fbfbfd;
  background-size: 21px 21px;
  background-position: center center;
  position: relative;
  top: -1px;
}

.function-group {
  text-align: left;
  margin-bottom: 8px;
  text-align: center;
}

.function-group h2 {
  color: #f84e75;
  font-weight: bold;
  font-size: 17px;
  margin-right: 5px;
}

.tool-tip-group {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.tool-tip-icon:hover + .tool-tip {
  opacity: 1;
  visibility: visible;
}

.tool-tip {
  transition: .7s;
  background-color: #f3f3f3;
  font-size: 14px;
  padding: 10px;
  line-height: 16px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 16px;
  visibility: hidden;
  text-align: left;
}


button {
  border: 0;
  padding: 6px 12px;
  font-weight: bold;
  background-color: #299CC4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button.stop {
  background-color: #b3b2b2;
}

.start {
  margin-right: 10px;
}

section.function.bundle-creator {
  margin-bottom: 0;
}

.bundle-creator .function-groups {
  grid-template-columns: 1fr;
}

.bundle-creator .label-img {
  width: 17px;
  margin-left: 3px;
}


.extension-activity-log {
  font-size: 13px;
  color: #bababd;
  padding: 0 10px;
  margin-bottom: 5px;;
  display: block;
  text-align: center;
}
.log {
  text-align: left;
  border-top: solid 1px #e9e7ff;
  background-color: #fbfbfd;
  padding: 10px;
  font-size: 13px;
  min-height: 125px;
  max-height: 125px;
  overflow: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.msg {
  display: block;
  line-height: 16px;
}