body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(images/landing-bg.jpg);
  background-size: cover; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f84e75;
  padding: 10px 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25); }
  header .header-left .logo {
    width: 40px; }
  header .header-left .logo-text {
    display: inline-block;
    font-family: 'Merriweather', sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #fff;
    position: relative;
    top: -10px;
    left: 10px; }
  header .header-right .header-link {
    color: #fff;
    font-size: 20px;
    margin-left: 20px; }

.landing-container,
.account {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 112px);
  justify-content: space-between;
  min-height: 500px;
  padding: 0 60px;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px; }
  .landing-container .landing-left,
  .account .landing-left {
    text-align: left;
    width: 40%; }
    .landing-container .landing-left h1,
    .account .landing-left h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 26px;
      font-family: 'Raleway', sans-serif; }
      .landing-container .landing-left h1 span,
      .account .landing-left h1 span {
        display: block;
        line-height: 62px; }
    .landing-container .landing-left .price-container,
    .account .landing-left .price-container {
      margin-bottom: 20px; }
      .landing-container .landing-left .price-container .price,
      .account .landing-left .price-container .price {
        font-size: 36px;
        margin-bottom: 10px;
        color: #289cc4;
        font-weight: bold; }
      .landing-container .landing-left .price-container .price-desc,
      .account .landing-left .price-container .price-desc {
        font-size: 16px; }
    .landing-container .landing-left .landing-desc,
    .account .landing-left .landing-desc {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 36px; }
    .landing-container .landing-left .cta-terms,
    .account .landing-left .cta-terms {
      margin-top: 10px;
      font-size: 12px; }
      .landing-container .landing-left .cta-terms,
      .landing-container .landing-left .cta-terms a,
      .account .landing-left .cta-terms,
      .account .landing-left .cta-terms a {
        color: #a09a9a; }
      .landing-container .landing-left .cta-terms a,
      .account .landing-left .cta-terms a {
        text-decoration: underline; }
  .landing-container .landing-right,
  .account .landing-right {
    width: 50%; }
    .landing-container .landing-right .landing-screenshot,
    .account .landing-right .landing-screenshot {
      width: 85%;
      box-shadow: 34.3px 62.5px 125px -25px rgba(50, 50, 93, 0.5), 20.6px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
      border-radius: 6px; }

.account {
  justify-content: center; }
  .account .account-inner {
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 40px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.298039); }
    .account .account-inner .extension-success {
      display: none;
      border: solid 1px #008000;
      background-color: rgba(5, 188, 5, 0.24);
      padding: 10px;
      margin-bottom: 20px; }
    .account .account-inner h1 {
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e1e4e8; }
    .account .account-inner .account-information .account-information-row {
      padding-bottom: 10px; }
      .account .account-inner .account-information .account-information-row label {
        font-weight: bold;
        padding-right: 6px; }
      .account .account-inner .account-information .account-information-row a {
        color: #f84e75;
        text-decoration: underline;
        transition: all .15s ease; }
        .account .account-inner .account-information .account-information-row a:hover {
          color: #000; }
    .account .account-inner .account-message {
      display: none;
      margin-top: 20px;
      color: #f00;
      background-color: rgba(255, 0, 0, 0.059);
      padding: 10px;
      border: solid 1px #f00; }

.cta {
  display: inline-block;
  background-color: #f84e75;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
  letter-spacing: .9px;
  padding: 18px 66px 18px 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(images/arrow-long.png);
  background-repeat: no-repeat;
  background-position: right 20px center; }
  .cta.landing-cta {
    padding: 26px 66px 26px 20px;
    font-size: 22px; }
  .cta:hover {
    background-color: #279dc5;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }

footer {
  background-color: black;
  color: #fff;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px; }
  footer .footer-right .divider {
    padding: 0 6px; }
  footer .footer-right a {
    color: #fff; }
    footer .footer-right a:hover {
      text-decoration: underline; }

.terms {
  background-color: #fff;
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto; }
  .terms h1, .terms h2 {
    color: #299CC4; }
  .terms h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px; }
  .terms h2 {
    font-size: 26px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .terms p {
    line-height: 20px; }
  .terms ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px; }

.modal {
  display: none; }
  .modal.active {
    display: block; }
  .modal .modal-inner {
    position: fixed;
    width: 350px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    z-index: 2;
    background-color: #fff;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #b9bcc0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 203px);
    overflow-y: auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left; }
    .modal .modal-inner.processing {
      background: none;
      border: none;
      box-shadow: none; }
      .modal .modal-inner.processing .modal-logo .modal-logo-image {
        width: 120px;
        margin-bottom: 12px;
        animation-name: swing;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        box-shadow: 0 0 2px 0px white inset, 0 0 2px 0px white; }
      .modal .modal-inner.processing .modal-processing {
        display: block; }
      .modal .modal-inner.processing .modal-title,
      .modal .modal-inner.processing .modal-message,
      .modal .modal-inner.processing .modal-cta {
        display: none; }
    .modal .modal-inner .modal-logo {
      text-align: center; }
      .modal .modal-inner .modal-logo .modal-logo-image {
        width: 60px;
        margin-bottom: 25px;
        border-radius: 50%;
        border: solid 1px #bfbfbf; }
    .modal .modal-inner .modal-title {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 8px; }
    .modal .modal-inner .modal-message {
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 22px; }
      .modal .modal-inner .modal-message .modal-link {
        text-decoration: underline;
        color: #f84e75; }
    .modal .modal-inner .modal-processing {
      display: none;
      text-align: center;
      color: #fff;
      font-size: 24px;
      letter-spacing: .5px; }
    .modal .modal-inner .modal-cta {
      display: block;
      width: 100%;
      text-decoration: none;
      padding: 15px 0;
      text-align: center;
      border-radius: 4px;
      background-color: #000;
      color: #fff;
      font-size: 18px;
      border: 1px solid transparent;
      transition: all .15s ease; }
      .modal .modal-inner .modal-cta:hover {
        background-color: #289cc3; }
  .modal .modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); }

@keyframes swing {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-25deg); }
  50% {
    transform: rotate(25deg); }
  75% {
    transform: rotate(-25deg); }
  100% {
    transform: rotate(0deg); } }
