body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(images/landing-bg.jpg);
  background-size: cover; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f84e75;
  padding: 10px 20px; }
  header .header-left .logo {
    width: 40px; }
  header .header-left .logo-text {
    display: inline-block;
    font-family: 'Merriweather', sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #fff;
    position: relative;
    top: -10px;
    left: 10px; }
  header .header-right .header-link {
    color: #fff;
    font-size: 20px; }

.landing-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 112px);
  justify-content: space-between;
  min-height: 500px;
  padding: 0 60px;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px; }
  .landing-container .landing-left {
    text-align: left;
    width: 40%; }
    .landing-container .landing-left h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 26px;
      font-family: 'Raleway', sans-serif; }
      .landing-container .landing-left h1 span {
        display: block;
        line-height: 62px; }
    .landing-container .landing-left .landing-desc {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 36px; }
    .landing-container .landing-left .landing-cta {
      box-sizing: border-box;
      display: inline-block;
      background-color: #f84e75;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      transition: all .15s ease;
      letter-spacing: .9px;
      padding: 18px 66px 18px 20px;
      text-decoration: none;
      text-transform: uppercase;
      background-image: url(images/arrow-long.png);
      background-repeat: no-repeat;
      background-position: right 20px center; }
      .landing-container .landing-left .landing-cta:hover {
        background-color: #279dc5;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
  .landing-container .landing-right {
    width: 50%; }
    .landing-container .landing-right .landing-screenshot {
      width: 85%;
      box-shadow: 34.3px 62.5px 125px -25px rgba(50, 50, 93, 0.5), 20.6px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
      border-radius: 6px; }

footer {
  background-color: black;
  color: #fff;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px; }

.modal {
  display: none; }
  .modal.active {
    display: block; }
  .modal .modal-inner {
    position: fixed;
    width: 350px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    z-index: 2;
    background-color: #fff;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #b9bcc0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 203px);
    overflow-y: auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left; }
    .modal .modal-inner .modal-logo {
      text-align: center; }
      .modal .modal-inner .modal-logo .modal-logo-image {
        width: 60px;
        margin-bottom: 25px;
        border-radius: 50%;
        border: solid 1px #bfbfbf; }
    .modal .modal-inner .modal-title {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 8px; }
    .modal .modal-inner .modal-message {
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 22px; }
    .modal .modal-inner .modal-cta {
      display: block;
      width: 100%;
      text-decoration: none;
      padding: 15px 0;
      text-align: center;
      border-radius: 4px;
      background-color: #000;
      color: #fff;
      font-size: 18px;
      border: 1px solid transparent;
      transition: all .15s ease; }
      .modal .modal-inner .modal-cta:hover {
        background-color: #289cc3; }
  .modal .modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); }
