<div class="modal">
  <div class="modal-inner">
    <div class="modal-logo">
      <img class="modal-logo-image" src="images/logo.png">
    </div>

    <div class="modal-title"></div>
    <div class="modal-message"></div>
    
    <a class="modal-cta" href="#"></a>
  </div>
  <div class="modal-overlay"></div>
</div>